@charset "UTF-8";
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul,li {
    padding: 0;
    list-style: none;
}

/* 左浮动和右浮动 */
.pull_left {
    float: left;
}

.pull_right {
    float: right;
}


